<!DOCTYPE html>
<html>

<head>

 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>INAF U6614 Class</title>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <style>

 .container {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 2px solid #e7e7e7;
  text-align: left;
  outline: none;
  font-size: 15px;
}


 </style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: 2px solid #e7e7e7;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #F7F7F7;
}

.collapsible:after {
  content: '\002B';
  color: black;
  font-weight: bold;
  float: right; 
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 10px;
  font-family: "Times";
  max-height: 0;
  overflow: auto;
  transition: max-height 0.2s ease-out;
  background-color: white;
  text-align: left;
  font-size: 15px;
  font-weight: none;

}

.wrapper {
  margin: 2px auto;
  float: right; 
  width: 100%;
}

.indented {
  padding-left: 15pt;
  padding-right: 15pt;
  padding-bottom: 10pt;
}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 20px;
  height: 700px;
}

.left {
  width: 30%;
  background: #F3F5F5;
}

.right {
  width: 70%;
  overflow: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.fa {
  padding: 5px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 3px 1px;
  border-radius: 70%;
}
.fa:hover {
    opacity: 0.7;
}

.fa-envelope {
  background: #4C9545;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-github {
  background: #061303;
  color: white;
}

</style>

<style>

.footer-nav {
   border-top: 1px solid #d5d5d5;
   font-size: .8em; 
}

.footer-nav ul {
   font-size: 1em;
   padding: 5px;
   list-style: none;
}

.footer-nav li {
    display: inline;
    margin-right: 20px; 

}

div.ex1 {
  width:80%;
  margin: auto;
  margin-top: 50px;
}
  
</style>


</head>

<body>


<div class="row">
  <div class="ex1">
    

  <div class="column left">
    <h1>
      <font face = "Times" size = "6" color = "#094191" line-height = "" > Test </font>
    </h1>

    <br/>

    <h3> 
      <font face = "Times" size = "5" color = black > Spring 2020 </font>
    </h3>

    <br/>
    <br/>

    <p>
      <font face = "Times" size = "3px"> The course is organized around learning foundational programming skills: git and github; regular expressions; iteration; writing functions; APIs; visualizations. </font>
    </p>


    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


    <dl>
      <dt font face = "Times" size = "3px">Ozan Jaquette</dt>
      <dt font face = "Times" size = "3px">Assistant Professor</dt>
      <dt font face = "Times" size = "3px">UCLA</dt>
    </dl>


    <footer class="footer-nav">
       <ul class="footer-nav ul">
        <li class="footer-nav li"><a href="mailto:ozanj@ucla.edu" size="2x" class="fa fa-envelope"></a></li>
        <li class="footer-nav li"><a href="https://twitter.com/ozanjaquette" class="fa fa-twitter"></a></li>
        <li class="footer-nav li"><a href="https://github.com/ozanj" class="fa fa-github"></a></li>
      </ul>
    </footer>


  </div> 
  
  <div class="column right">

  <div id="syllabus" class="wrapper">
    <button class="collapsible" color = "0A0602" >Syllabus & Class Resources</button>
    <div class="content">
    	<br/>
      <div class="indented">
      	<a href="https://github.com/Rucla-ed/rclass2/raw/master/syllabus/syllabus.pdf" style="color:#094191">Link to Syllabus </a> <br />
      	<a href="https://github.com/Rucla-ed/rclass2/blob/master/_resources/problemset/ps_expectations.md" style="color:#094191">Problem Set Expectations </a> <br /> 
      	<a href="https://github.com/Rucla-ed/rclass2/raw/master/_resources/problemset/ps_template.R" style="color:#094191">Problem Set .R Template </a> <br /> 
      	<a href="https://github.com/Rucla-ed/rclass2/blob/master/lectures/github/bash_on_windows.md" style="color:#094191">Running Bash on Windows </a> <br />

      </div>
    </div>  
  </div>

  <div id="lectures" class="wrapper">
    <button class="collapsible" color = "0A0602" > Lectures (by topic) </button>
    <div class="content">
    	<div class="container">
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse1">GitHub</a>
    					</h4>
    				</div>
    				<div id="collapse1" class="panel-collapse collapse">
    					<div class="panel-body">HTML</div>
    					<div class="indented">
    						<a href="https://rucla-ed.github.io/rclass2/lectures/github/github_lecture.html" style="color:#094191">GitHub</a> <br />	
    					</div>
    					<div class="panel-body">.Rmd</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/lectures/github/github_lecture.Rmd" style="color:#094191">GitHub</a> <br />	
    					</div>
    					<div class="panel-body">Video Recordings</div>
    					<div class="indented">
    						<a href="https://www.dropbox.com/s/bt3u6oorgzy0egu/lecture1_20200330.mp4?dl=0" style="color:#094191">Lecture 1 (3/30/2020)</a> - <i>Covers sections 1-5 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/58v2zj6prpekrxi/lecture2A_20200406.mp4?dl=0" style="color:#094191">Lecture 2, Part 1 (4/06/2020)</a> - <i>Covers section 7 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/rt1j3s8rqvs4bis/lecture2B_20200406.mp4?dl=0" style="color:#094191">Lecture 2, Part 2 (4/06/2020)</a> - <i>Covers sections 6 & 8 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/mu72hnqknda1292/lecture3A_20200413.mp4?dl=0" style="color:#094191">Lecture 3, Part 1 (4/13/2020)</a> - <i>Covers section 5 of lecture (revisited)</i> <br />
    						<a href="https://www.dropbox.com/s/7rrpxugxyz156sr/lecture3B_20200413.mp4?dl=0" style="color:#094191">Lecture 3, Part 2 (4/13/2020)</a> - <i>Covers sections 9-10.1 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/xxy6rvs1cqe3tq8/lecture3C_20200413.mp4?dl=0" style="color:#094191">Lecture 3, Part 3 (4/13/2020)</a> - <i>Covers sections 10.2-10.3 of lecture; Previews Twitter API</i> <br />
    						<a href="https://www.dropbox.com/s/vuf8dhf38mpe5zy/lecture4C_20200420.mp4?dl=0" style="color:#094191">Lecture 4, Part 3 (4/20/2020)</a> - <i>Covers sections 12.1-12.3 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/x5o960h4l52kvms/lecture4D_20200420.mp4?dl=0" style="color:#094191">Lecture 4, Part 4 (4/20/2020)</a> - <i>Covers section 11 of lecture</i>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse2">ggplot</a>
    					</h4>
    				</div>
    				<div id="collapse2" class="panel-collapse collapse">
    					<div class="panel-body">HTML</div>
    					<div class="indented">
    						<a href="https://rucla-ed.github.io/rclass2/lectures/ggplot/ggplot_lecture.html" style="color:#094191">ggplot</a> <br />	
    					</div>
    					<div class="panel-body">.Rmd</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/lectures/ggplot/ggplot_lecture.Rmd" style="color:#094191">ggplot</a> <br />
    					</div>
    					<div class="panel-body">Video Recordings</div>
    					<div class="indented">
    						<a href="https://www.dropbox.com/s/ihwogjep3fr43u5/lecture3D_20200413.mp4?dl=0" style="color:#094191">Lecture 3, Part 4 (4/13/2020)</a> - <i>Covers sections 1-2 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/hqqlc6r5u5avslv/lecture3E_20200413.mp4?dl=0" style="color:#094191">Lecture 3, Part 5 (4/13/2020)</a> - <i>Covers section 3 of lecture</i>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse4">APIs & JSON</a>
    					</h4>
    				</div>
    				<div id="collapse4" class="panel-collapse collapse">
    					<div class="panel-body">HTML</div>
    					<div class="indented">
    						<a href="https://rucla-ed.github.io/rclass2/lectures/api_json/api_json_lecture.html" style="color:#094191">APIs & JSON</a> <br /></div>
    					<div class="panel-body">.Rmd</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/lectures/api_json/api_json_lecture.Rmd" style="color:#094191">APIs & JSON</a> <br />
    					</div>
    					<div class="panel-body">Video Recordings</div>
    					<div class="indented">
    						<a href="https://www.dropbox.com/s/h9b59jidf1ez29d/lecture4A_20200420.mp4?dl=0" style="color:#094191">Lecture 4, Part 1 (4/20/2020)</a> - <i>Covers sections 1-4 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/v2l0xzvnxnfhaqr/lecture4B_20200420.mp4?dl=0" style="color:#094191">Lecture 4, Part 2 (4/20/2020)</a> - <i>Covers section 5 of lecture</i>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse3">Strings & Regex</a>
    					</h4>
    				</div>
    				<div id="collapse3" class="panel-collapse collapse">
    					<div class="panel-body">HTML</div>
    					<div class="indented">
    						<a href="https://rucla-ed.github.io/rclass2/lectures/strings/strings_lecture.html" style="color:#094191">Strings & Regex</a> <br /></div>
    					<div class="panel-body">.Rmd</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/lectures/strings/strings_lecture.Rmd" style="color:#094191">Strings & Regex</a> <br />
    					</div>
    					<div class="panel-body">Video Recordings</div>
    					<div class="indented">
    						<a href="https://www.dropbox.com/s/m2i1nlxqxudc8pq/lecture5A_20200427.mp4?dl=0" style="color:#094191">Lecture 5, Part 1 (4/27/2020)</a> - <i>Covers sections 1-2 & Appendix of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/u7m76nek2wpzp4n/lecture5B_20200427.mp4?dl=0" style="color:#094191">Lecture 5, Part 2 (4/27/2020)</a> - <i>Covers sections 3-4 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/m711inqea0pdm4m/lecture5C_20200427.mp4?dl=0" style="color:#094191">Lecture 5, Part 3 (4/27/2020)</a> - <i>Covers section 5 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/r7dbgs55rlatjp4/lecture6A_20200504.mp4?dl=0" style="color:#094191">Lecture 6, Part 1 (5/4/2020)</a> - <i>Covers sections 6-8.1 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/8inhy6u2d4z4elb/lecture6B_20200504.mp4?dl=0" style="color:#094191">Lecture 6, Part 2 (5/4/2020)</a> - <i>Covers sections 8.2-8.5 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/x9sf3qt98v4z37z/lecture6C_20200504.mp4?dl=0" style="color:#094191">Lecture 6, Part 3 (5/4/2020)</a> - <i>Covers section 9 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/hiclmurgbnouoaq/lecture7A_20200511.mp4?dl=0" style="color:#094191">Lecture 7, Part 1 (5/11/2020)</a> - <i>Covers section 10 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/i4hgbk4z5hbk2av/lecture7B_20200511.mp4?dl=0" style="color:#094191">Lecture 7, Part 2 (5/11/2020)</a> - <i>Covers sections 11.1-11.2 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/sop70iuczvl3al6/lecture7C_20200511.mp4?dl=0" style="color:#094191">Lecture 7, Part 3 (5/11/2020)</a> - <i>Covers section 11.2.1 of lecture</i>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse6">Programming</a>
    					</h4>
    				</div>
    				<div id="collapse6" class="panel-collapse collapse">
    				  <div class="panel-body">HTML</div>
    					<div class="indented">
    						<a href="https://rucla-ed.github.io/rclass2/lectures/programming/programming_lecture.html" style="color:#094191">Programming</a> <br />	
    					</div>
    					<div class="panel-body">.Rmd</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/lectures/programming/programming_lecture.Rmd" style="color:#094191">Programming</a> <br />	
    					</div>
    					<div class="panel-body">Video Recordings</div>
    					<div class="indented">
    						<a href="https://www.dropbox.com/s/jwdjxi4x36yq9ez/lecture8A_20200518.mp4?dl=0" style="color:#094191">Lecture 8, Part 1 (5/18/2020)</a> - <i>Covers section 2 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/32rtcb325xfp74v/lecture8B_20200518.mp4?dl=0" style="color:#094191">Lecture 8, Part 2 (5/18/2020)</a> - <i>Covers sections 3.1-3.3.2 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/zutw6mdbxl9ruqw/lecture8C_20200518.mp4?dl=0" style="color:#094191">Lecture 8, Part 3 (5/18/2020)</a> - <i>Covers sections 3.3.3-3.5 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/leu1rvtk8wdvej3/lecture8D_20200518.mp4?dl=0" style="color:#094191">Lecture 8, Part 4 (5/18/2020)</a> - <i>Covers section 3.6 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/74cwglyd4ndtzca/lecture10A_20200601.mp4?dl=0" style="color:#094191">Lecture 10, Part 1 (6/1/2020)</a> - <i>Covers sections 4-5.1 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/00y7ajbheor9tt5/lecture10B_20200601.mp4?dl=0" style="color:#094191">Lecture 10, Part 2 (6/1/2020)</a> - <i>Covers sections 5.2-5.2.3 of lecture</i> <br />
    						<a href="https://www.dropbox.com/s/lm3rqw2463lo88w/lecture10C_20200601.mp4?dl=0" style="color:#094191">Lecture 10, Part 3 (6/1/2020)</a> - <i>Covers section 5.3-5.4 of lecture</i>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>   		
    	</div>
    </div>


  <div id="assignments" class="wrapper">
    <button class="collapsible">Weekly readings and assignments</button>
    <div class="content">
    	<div class="container">
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse7">Week 1 (Do after 3/30/20 class)</a>
    					</h4>
    				</div>
    				<div id="collapse7" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/syllabus/syllabus.pdf" style="color:#094191">Syllabus </a> <br />
    						<a href="https://guides.github.com/features/issues/" style="color:#094191">Mastering Issues </a> <br />
    						<a href="https://www.atlassian.com/git/tutorials/setting-up-a-repository" style="color:#094191">Setting up a repository </a> <br />
    						<a href="https://www.educative.io/blog/bash-shell-command-cheat-sheet" style="color:#094191">Bash cheat sheet (skip creating custom commands) </a> <br />
    						<a href="https://www.youtube.com/watch?v=ephId3mYu9o&t" style="color:#094191">Youtube video (absolute & relative file paths) </a> <br />
    						<a href="https://www.daolf.com/posts/git-series-part-1/" style="color:#094191">Understanding git (deeper understanding of .git directory, not required to do problem set 1)</a> <br />
    					</div>
    					<div class="panel-footer">Problem set 1 due 04/06/20 @ 8:00am</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/problem_sets/week_1/problemset1.pdf" style="color:#094191">Problem set pdf</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_1/problemset1.Rmd" style="color:#094191">Problem set .Rmd</a> <br />
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse8">Week 2 (Do after 04/06/20 class)</a>
    					</h4>
    				</div>
    				<div id="collapse8" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    						<a href="https://www.toolsqa.com/git/git-status-command-in-git/" style="color:#094191">Git status command</a> <br /> 
    						<a href="https://www.toolsqa.com/git/git-diff/" style="color:#094191">Git dff</a> <br/>						
    						<a href="https://git-scm.com/book/en/v2/Git-Basics-Viewing-the-Commit-History" style="color:#094191">Viewing the Commit History</a> <br /> 
    						<a href="https://www.pixelstech.net/article/1549115148-git-reset-vs-git-revert" style="color:#094191">Git reset vs Git revert </a> <br /> 							
    						<a href="https://www.atlassian.com/git/tutorials/undoing-changes" style="color:#094191">Undoing Commits & Changes</a> <br />
    						<a href="http://shafiul.github.io/gitbook/1_the_git_object_model.html" style="color:#094191">The Git Object Model</a> <br/>
    					</div>
    					<div class="panel-footer">Problem set 2 due 04/13/20 @ 8:00am</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/problem_sets/week_2/problemset2.pdf" style="color:#094191">Problem set pdf</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_2/problemset2.Rmd" style="color:#094191">Problem set .Rmd</a> <br />
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse9">Week 3 (Do after 04/13/20 class)</a>
    					</h4>
    				</div>
    				<div id="collapse9" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    						<a href="https://www.atlassian.com/git/tutorials/using-branches" style="color:#094191">Git branch</a> <br />
    						<a href="https://www.atlassian.com/git/tutorials/using-branches/git-merge" style="color:#094191">Git merge</a> <br />
    						<a href="https://www.atlassian.com/git/tutorials/using-branches/merge-conflicts" style="color:#094191">Git merge conflicts</a> <br />  
    						<a href="https://r4ds.had.co.nz/data-visualisation.html" style="color:#094191">R for Data Science: Ch.3 Data Visualization </a> <br /> 
    					</div>
    					<div class="panel-footer">Problem set 3 due 04/20/20 @ 8:00am</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/problem_sets/week_3/problemset3.pdf" style="color:#094191">Problem set pdf</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_3/problemset3.Rmd" style="color:#094191">Problem set .Rmd</a> <br />
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse10">Week 4 (Do after 04/20/20 class)</a>
    					</h4>
    				</div>
    				<div id="collapse10" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    						<a href="https://github.com/btskinner/rscorecard/blob/master/README.md#further-references" style="color:#094191">Rscorecard References (College Scorecard Website & Data Documentation)</a> <br />
    						<a href="https://www.youtube.com/watch?v=e3bjQX9jIBk" style="color:#094191">Pull requests (video)</a> <br />
    						<a href="https://www.digitalocean.com/community/tutorials/an-introduction-to-json" style="color:#094191">Introduction to JSON</a> <br />
    					</div>
    					<div class="panel-footer">Problem set 4 due 04/27/20 @ 8:00am</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/problem_sets/week_4/problemset4.pdf" style="color:#094191">Problem set pdf</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_4/problemset4.Rmd" style="color:#094191">Problem set .Rmd</a> <br />
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse11">Week 5 (Do after 04/27/20 class)</a>
    					</h4>
    				</div>
    				<div id="collapse11" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    					  <a href="https://r4ds.had.co.nz/strings.html" style="color:#094191">R for Data Science: Ch.14 Strings - Only Sections 14.1-14.2</a> <br /> 
    					  <a href="https://r4ds.had.co.nz/dates-and-times.html" style="color:#094191">R for Data Science: Ch.16 Dates and times</a>
    					</div>
    					<div class="panel-footer">Problem set 5 due 05/04/20 @ 8:00am</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/problem_sets/week_5/problemset5.pdf" style="color:#094191">Problem set pdf</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_5/problemset5.Rmd" style="color:#094191">Problem set .Rmd</a> <br />
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse12">Week 6 (Do after 05/4/20 class)</a>
    					</h4>
    				</div>
    				<div id="collapse12" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    					  <a href="https://ozanj.github.io/rclass/lectures/lecture3/lecture3_ucla.pdf#page=20" style="color:#094191">Intro to R Class: Lecture 3 - Only Slides 20-55</a> <br /> 
    					  <a href="https://r4ds.had.co.nz/strings.html" style="color:#094191">R for Data Science: Ch.14 Strings - Only Sections 14.3-14.5 (<i>only regex() part in last section</i>)</a>
    					</div>
    					<div class="panel-footer">Problem set 6 due 05/11/20 @ 8:00am</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/problem_sets/week_6/problemset6.pdf" style="color:#094191">Problem set pdf</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_6/problemset6.Rmd" style="color:#094191">Problem set .Rmd</a> <br />
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse13">Week 7 (Do after 05/11/20 class)</a>
    					</h4>
    				</div>
    				<div id="collapse13" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    						<a href="https://www.w3schools.com/html/html_intro.asp" style="color:#094191">HTML Introduction- w3schools (and the following sections:)
    							<ul>
    								<li><a href="https://www.w3schools.com/html/html_elements.asp" style="color:#094191">Elements</a></li>
		    					 	<li><a href="https://www.w3schools.com/html/html_attributes.asp" style="color:#094191">Attributes</a></li>
		    					 	<li><a href="https://www.w3schools.com/html/html_headings.asp" style="color:#094191">Headings</a></li>
		    					 	<li><a href="https://www.w3schools.com/html/html_paragraphs.asp" style="color:#094191">Paragraphs</a></li>
		    					 	<li><a href="https://www.w3schools.com/html/html_formatting.asp" style="color:#094191">Formatting</a></li>
		    					 	<li><a href="https://www.w3schools.com/html/html_css.asp" style="color:#094191">CSS</a></li>
    					 		</ul></a>
    					 		<a href="http://rvest.tidyverse.org/" style="color:#094191">Rvest package</a><br/>
    					 		<a href="https://www.btskinner.io/rworkshop/modules/web_scraping.html" style="color:#094191">Web scraping in R by Ben Skinner (Optional)</a>
    					</div>
    					<div class="panel-footer">Problem set 7 due 05/18/20 @ 8:00am</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/problem_sets/week_7/problemset7.pdf" style="color:#094191">Problem set pdf</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_7/problemset7.Rmd" style="color:#094191">Problem set .Rmd</a> <br />
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse14">Week 8 (Do after 05/18/20 class)</a>
    					</h4>
    				</div>
    				<div id="collapse14" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    					 	<a href="https://adv-r.hadley.nz/names-values.html" style="color:#094191">Advanced R: Ch.2-4</a><br/>
    					 	<a href="https://r4ds.had.co.nz/iteration.html" style="color:#094191">R for Data Science: Ch.21 Iteration - Only Sections 21.1-21.3</a>							
    					</div>
    					<div class="panel-footer">Problem set 8 due 06/01/20 @ 8:00am</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/problem_sets/week_8/problemset8.pdf" style="color:#094191">Problem set pdf</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_8/problemset8.Rmd" style="color:#094191">Problem set .Rmd</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_8/lastname_script.R" style="color:#094191">lastname_script.R</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_8/ipeds_file_list.txt" style="color:#094191">ipeds_file_list.txt</a> <br />
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse15">Week 9 (No Class on 05/25/20)</a>
    					</h4>
    				</div>
    				<div id="collapse15" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    					 	<a href="https://adv-r.hadley.nz/names-values.html" style="color:#094191">Advanced R: Ch.2-4</a><br/>
    					 	<a href="https://r4ds.had.co.nz/iteration.html" style="color:#094191">R for Data Science: Ch.21 Iteration - Only Sections 21.1-21.3</a>							
    					</div>
    					<div class="panel-footer">Problem set 8 due 06/01/20 @ 8:00am</div>
    				</div>
    			</div>
    		</div>
    		<div class="panel-group">
    			<div class="panel panel-default">
    				<div class="panel-heading">
    					<h4 class="panel-title">
    						<a data-toggle="collapse" href="#collapse16">Week 10 (Do after 06/01/20 class)</a>
    					</h4>
    				</div>
    				<div id="collapse16" class="panel-collapse collapse">
    					<div class="panel-body">Readings</div>
    					<div class="indented">
    						<a href="https://r4ds.had.co.nz/functions.html" style="color:#094191">R for Data Science: Ch.19 Functions</a><br/>
    					</div>
    					<div class="panel-footer">Problem set 9 due 06/17/20 @ 5:00pm</div>
    					<div class="indented">
    						<a href="https://github.com/Rucla-ed/rclass2/raw/master/problem_sets/week_10/problemset9.pdf" style="color:#094191">Problem set pdf</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_10/problemset9.Rmd" style="color:#094191">Problem set .Rmd</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_10/lastname_script.R" style="color:#094191">lastname_script.R</a> <br />
    						<a href="https://raw.githubusercontent.com/Rucla-ed/rclass2/master/problem_sets/week_10/ipeds_file_list.txt" style="color:#094191">ipeds_file_list.txt</a> <br />
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
</div>
</div>
</div>


</div>
</body>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    } 
  });
}

</script>






</html>
